# Include all Fortran source files and Makefiles for building from source
recursive-include fortran *.f90 Makefile
include Makefile
include LICENSE
include README.md

# Exclude build artifacts
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude *.so
global-exclude *.o
global-exclude *.mod
global-exclude *.exe

prune Matlab
prune examples
prune docs
prune tests
