
name: Code Lint

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install hatch fortitude-lint ruff
    - name: Ruff
      run: make lintp
    - name: Type checking
      run: make typep
    - name: Fortitude
      run: hatch run lintf

